.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.app-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333; /* Set your desired text color */
}

.logout-btn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50; /* Set your desired button color */
    color: #fff; /* Set your desired button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #45a049; /* Set your desired hover color */
}
