.register-form {
    display: inline-block;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 1rem 0;
    width: 400px;
}

.register-container.m-5-auto {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.custom-button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    width: 100%;
    padding: .3rem;
    border: none;
    background: #222;
    color: #fff;
    border-radius: 3px;
}

.Register-form input {
    width: 15rem;
    padding: .3rem;
    border-radius: 5px;
    outline: none;
    border: none;
}


.back-link {
    margin-top: 10px;
    font-size: 14px;
}

.back-link a {
    color: #333;
}